/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@font-face {
  font-family: 'sf'; /* Give your font a name */
  src: url('/assets/sf.OTF') format('opentype'); /* Specify the path to your font file and its format */
  font-weight: normal; /* Optional: Define font weight (normal, bold, etc.) */
  font-style: normal;  /* Optional: Define font style (normal, italic, etc.) */
}

@font-face {
  font-family: 'sf-light'; /* Give your font a name */
  src: url('/assets/sf-light.ttf') format('opentype'); /* Specify the path to your font file and its format */
  font-weight: light; /* Optional: Define font weight (normal, bold, etc.) */
  font-style: normal;  /* Optional: Define font style (normal, italic, etc.) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sf", sans-serif;
  text-align: justify;
  color: white;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


body {
  background: #050505;
  animation: fade 1s linear;
}

.x-sm {
  font-size: 12px;
}

.sm {
  font-size: 16px;
}

.lg {
  font-size: 22px;
}

.light {
  font-family: "sf-light", sans-serif;
}

.grey {
  color: #9f9f9f;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5rem;
}

.container {
  max-width: 600px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.about .title {
  margin-bottom: 1.5rem;
}

.about p {
  color: #9f9f9f;
  font-size: 14px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials {
  gap: 1.5rem;
}

section .row {
  display: flex;
  width: 100%;
}

@media (min-width: 450px) {
  .row {
    gap: 2rem;
  }
}

.date,
.platform {
  width: 100px;
}

.date p,
.technologies,
.platform {
  color: white;
  opacity: 0.5;
  font-size: 14px;
}

.technologies {
  font-weight: 300;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project a,
.socials a {
  text-decoration: none;
  max-width: fit-content;
}

.project a:hover,
.socials a:hover {
  text-decoration: underline;
}

.project i,
.socials i {
  margin-left: 5px;
  font-size: 14px;
}

@media (max-width: 450px) {
  .container {
    gap: 1.4rem;
  }

  section {
    gap: 1.4rem;
  }

  .row {
    flex-direction: column;
    gap: 0.7rem;
  }
}
