@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #065f87;
  height: calc(100vh - 48px);
}

body {
  background: #fbfbfb;
}

header {
  background: #161616;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 3rem;
  padding-inline: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: #cdcdcd;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  margin: 2rem;
  margin-top: calc(2rem + 48px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
  flex-direction: column;
  gap: 3rem;
  border-radius: 6px;
  animation: fade 1s linear;
  background: white;
}

.header {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  background-color: #065f87;
  border-radius: 5px 5px 0 0;
  color: white;
}

.header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.header h2 {
  font-size: 30px;
}

.header p {
  font-size: 20px;
}

section {
  margin-inline: 3rem;
}

section h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 1rem;
  color: #033750;
  text-decoration: underline;
}

section p {
  font-size: 24px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.clients a {
  color: black;
  cursor: pointer;
}

.clients a:hover {
  color: #033750;
}

.client-card {
  width: 200px;
  height: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.1s;
  border-radius: 4px;
}

.client-card:hover,
.project-preview img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.client-card img {
  width: 200px;
}

.client-card p {
  font-size: initial;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project-preview img {
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 4px;
}

.socials {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.socials-row {
  display: flex;
  gap: 1.5rem;
}

.socials a {
  color: #065f87;
  font-size: 30px;
}

.social {
  background: #eaeaea;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  transition: 0.1s;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.social:hover {
  color: white;
  background: #065f87;
}

footer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #065f87;
}

@media (max-width: 500px) {
  .clients {
    flex-direction: column;
    height: auto;
  }

  .project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 520px) {
  .container {
    margin: 1rem;
  }

  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header img {
    height: 130px;
    width: 130px;
  }

  .header-text {
    align-items: center;
    text-align: center;
  }

  .header h2 {
    text-align: center;
  }

  section {
    margin-inline: 2rem;
  }

  footer {
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  header {
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
}
